:root {
    --bg-html: #424242;
    --bg-body: #F9F9F9;
    --bg-card: #F0F0F0;
    --fg: #212121;
    --fancy-link-gradient-color: #2196f3;
    --bg-checkered-a1: #FAFAFC;
    --bg-checkered-a2: #F0F2F5;
    --bg-checkered-a3: #9CB0BA;
    --bg-checkered-b1: var(--bg-html);
    --bg-checkered-b2: color-mix(in srgb, var(--bg-checkered-b1), black 10%);
    --bg-size: 20px;
    --square-size: calc(var(--bg-size) / 2);
}

a {
    color: #1072c2;
}

html {
    margin: 2rem;
}

body {
    background-image: linear-gradient(calc(0.5turn - 0.25turn / 8),
            color-mix(in srgb, var(--bg-body), transparent 50%) 0,
            var(--bg-body) 25%);

    &>* {
        z-index: 2;
    }

    color: var(--fg);
    font-family: 'Open Sans',
    sans-serif;
    line-height: 1.5;
    padding: 2rem;
    border-radius: 2rem;
}

@media (orientation: landscape) {
    html {
        background-image:
            conic-gradient(var(--bg-checkered-b1) 0.00turn,
                var(--bg-checkered-b1) 0.25turn,
                var(--bg-checkered-b2) 0.25turn, var(--bg-checkered-b2) 0.50turn,
                var(--bg-checkered-b1) 0.50turn, var(--bg-checkered-b1) 0.75turn,
                var(--bg-checkered-b2) 0.75turn, var(--bg-checkered-b2) 1.00turn);
        background-size: var(--bg-size) var(--bg-size);
    }
}

@media (orientation: portrait) {
    html {
        background-color: var(--bg-body);
        margin: 0;
    }

    body {
        padding: 0;
    }

    .projects {
        /* How do I avoid !important? (specificity doesn't work) */
        box-shadow: none !important;
        background: none !important;
    }
}

header {
    padding: 0 3rem;
}

header h1 {
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 0;
}

header nav ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    column-gap: 3rem;
    row-gap: 1.5rem;
    justify-content: center;
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 3rem;

    & li {
        padding: 0;
    }
}

main {
    margin: 2rem 3rem 2rem;

    display: block;
    column-width: 45rch;
    column-count: 5;
    column-fill: balance-all;

    & .projects {
        break-inside: avoid;
    }

    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;

    container-type: inline-size;
}

.projects {
    &:not(:first-child) {
        margin-top: 3rem;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    padding: 1.5rem 1.5rem 0.5rem;
    border-radius: 1rem;
}

@container (width >=calc(4*45rch + 3*3rem)) {
    .projects:nth-last-child(1) {
        break-before: column;
        margin-top: 0;
    }
}

@container (width >=calc(5*45rch + 4*3rem)) {
    .projects:nth-last-child(-n+3) {
        break-before: column;
        margin-top: 0;
    }
}

.projects:not(:hover) {
    transition-duration: 2s;
    transition-property: box-shadow, background;
    box-shadow:
        2px -2px 2px rgb(250 250 250 / .90),
        inset -2px 2px 2px rgb(222 222 222 / .8),
        -2px 2px 2px rgb(222 222 222 / .5),
        inset 2px -2px 2px rgb(253 253 253 / .96);
}

.projects:hover {
    transition-duration: 2s;
    transition-property: box-shadow, background;
    background-color: var(--bg-card);
    box-shadow:
        2px -2px 2px rgb(250 250 250 / .2),
        inset -2px 2px 2px rgb(222 222 222 / .6),
        -2px 2px 2px rgb(222 222 222 / .4),
        inset 2px -2px 2px rgb(253 253 253 / .2);
}

.projects h2 {
    color: #333;
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid rgb(128 128 128);
}

.projects.projects--game-jams h2 {
    margin-bottom: 1.25rem;
}

.projects.projects--game-jams dt {
    font-weight: bold;
    display: list-item;
    list-style-type: circle;
    margin-left: 1.5em;
}

.projects.projects--game-jams dt .jam {
    font-weight: normal;
    float: right;
    opacity: 50%;
}

.projects.projects--game-jams dd+dt {
    margin-top: 2rem;
}

.projects.projects--game-jams ul.games-links {
    display: flex;
    list-style: none;
    justify-content: end;
    margin: 0;
}

li,
dd a {
    padding: 0.5rem;
    background: linear-gradient(to right, var(--fancy-link-gradient-color) 0%, transparent 1%);
    background-size: 100%;
    background-position-x: -20px;
    background-repeat: no-repeat
}

li:hover,
dd a:hover {
    background-position-x: 0px;
    background-size: 10000%;
    transition: 0.2s;
}

li:hover>span {
    transition: 0.2s;
    color: var(--bg-body);
}