/*
coolors.co:
    turquoise blue: #0AFDF6
    polished pine:  #52AA8A
    charleston green: #202A25
*/


/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');


/****************************************************
 * Table
 ****************************************************/

html {
    background-image: url(imgs/wood-texture.jpg);
    padding: 0;
    overflow: hidden;
}


/****************************************************
 * Window
 ****************************************************/

body {
    position: absolute;
    width: 800px;
    height: 600px;
    
    /* (page size / 2) - (window size / 2) */
    top: calc(50% - 600px/2);
    left: calc(50% - 800px/2);
    margin: 0;
    
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    background-color: #8ACE8E;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    
    transition: height 0.1s, margin-top 0.1s;
}

.minimized {
    height: 50px;
    margin-top: 550px;
}

.fechado {
    transition: 0.25s;
    opacity: 0;
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: 150px;
}

/****************************************************
 * <header> - Titlebar
 ****************************************************/

header {
    position: relative;
    height: 50px;
    z-index: 1;
    
    background-color: #202A25;
    color: whitesmoke;
    
    cursor: default;
    user-select: none;
}

#user-info {
    float: left;
    position: absolute;
    height: 42px;
    top: 0;
    bottom: 5px;
    left: 3px;
    width: 160px;
    margin: auto;
}

#user-badge {
    float: left;
    font-size: xx-large;
    margin-right: 0.2em;
}

#user-name {
    margin-top: 3px;
    margin-right: 50px;
}

/* <h1> iPub </h1> */
#titlebar-title {
    position: absolute;
    display: inline-block;
    width: 5em;
    text-align: center;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 8px auto;
    
    font-family: "Raleway", sans-serif;
    text-shadow: 1px 1px 3px black;
}

/*  [__]  [[]]  [><]  */
#titlebar-buttons {
    float: right;
}

#titlebar-buttons img {
    height: 30px;
    margin: 10px;
    
    filter: contrast(0%) brightness(190%);
    
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#titlebar-buttons img:hover {
    background-color: lightgray;
    box-shadow: 0 0 0 10px lightgray;
    filter: contrast(50%) brightness(125%);
}

#user-name {
    float: right;
}


/****************************************************
 * <iframe>
 ****************************************************/

iframe {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px - 50px);
    border: none;
}


/****************************************************
 * <footer>
 ****************************************************/

footer {
    position: absolute;
    width: 100%;
    height: 35px;
    padding-top: 15px;
    text-align: right;
    bottom: 0;
    
    font-family: "Droid Sans Mono", monospace;
    font-weight: 500;
    font-size: x-large;
    line-height: 2.4em;
    color: #0AFDF6;
    text-shadow: 0 0 5px black;

    transition-duration: 0.5s;
}

#back-button {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 50px;
    height: 25px;
    background-color: #52AA8A; /* polished pine */
    opacity: 0.8;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5),
                inset -2px -2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    cursor: pointer;
    user-select: none;
    
}
#back-button::before {
    /* ja nao tenho tempo para desenhar uma setinha */
    content: '<=';
    position: absolute;
    top: -15px;
    left: 10px;
    color: white;
    text-shadow: none;
    
}

#notification-area {
    float: right;
    height: 15px;
    padding: 5px 2.5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}

@keyframes wiggle {
    0%   {transform: rotate("-30deg");}
    20%  {transform: rotate("30deg");}
    40%  {transform: rotate("-30deg");}
    60%  {transform: rotate("30deg");}
    80%  {transform: rotate("-30deg");}
    100% {transform: rotate("0deg");}
}

#notification-area img {
    position: relative;
    bottom: 16px;
    margin: 5px 2.5px;
    border-radius: 2.5px;
    
    cursor: pointer;
}
#notification-area img:active {
    transition: 0.25s;
    transform-origin: bottom;
    transform: scale(5) rotateX(30deg) rotateY(15deg) rotateZ(-5deg);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
    opacity: 0.75;
    z-index: 1;
}

.wiggle-animation {
    transform: rotate(0deg);
    animation: wiggle 1s;
}

#clock {
    float: right;
    height: 25px;
    line-height: 1em;
    margin-left: 1em;
}




